* {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}

body {
    background: linear-gradient(90deg, #39289F, #422F9C);
    color: white;
    justify-content: center;
    align-items: center;
}

header {
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px
}

.header-logo {
    width: 45%;
    
}

.header-logo-text {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.header-buttons-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 9%
}

.header-button {
    background-color: transparent;
    color: white;
    padding: 2%;
    border: transparent;
    font-size: 16px;
}

.button:hover {
    scale: 1.1;
}

.header-button-contact {
    background-color: #FA9021;
    border-radius: 10px;
    color: white;
    width: 130px;
    height: 50px;
    border: transparent;
    font-size: 16px;
}


main {
    height: 85%;
    justify-content: center;
    align-items: center;
}

.introduction-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-games-top {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.list-games {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.platforms-section {
    background-color: black;
}

footer {
    height: 10%;
    background-color: black;
    font-size: small;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-about-us {
    display: flex;
    flex-direction: column;
}

.footer-contact-us {
    display: flex;
    flex-direction: column;
}

.copyrigth {
    text-align: inherit;
}