@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

body {
    background: linear-gradient(90deg, #39289F, #422F9C);
    color: white;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
}

header {
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px
}

.header-logo {
    width: 45%;
    
}

.header-logo-text {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.header-buttons-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 9%
}

.header-button {
    background-color: transparent;
    color: white;
    padding: 2%;
    border: transparent;
    font-size: 16px;
}

.button:hover {
    /* scale: 1.1; */
    color: red;
}

.header-button-contact {
    background-color: #FA9021;
    border-radius: 10px;
    color: white;
    width: 130px;
    height: 50px;
    border: transparent;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    padding: 5%;
    gap: 100px;
    font-size: 20px;
}

.introduction-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#first-text {
    color: #E87D0E;
    font-size: 25px;
    font-weight: 800;
    -webkit-text-stroke-width: 1.2px; /* largura da borda */
    -webkit-text-stroke-color: #000;
}

#second-text {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.5;
}

.main-button {
    background-color: #FA8305;
    border-radius: 30px;
    color: white;
    width: 170px;
    height: 50px;
    border: transparent;
    font-size: 16px;
    margin-top: 30px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

.currently-trending-games {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    height: 500px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
}

.trending-games-top {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.button-transparent {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 800;
    border-radius: 10px;
    width: 110px;
    height: 50px;
    color: #FFFFFF;
    border: transparent;
    font-size: 16px;
}

.list-games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}

.games-list-image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.description-text-section {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.description-text-box {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    width: 60%;
    height: auto;
}

.lorem-ipsum {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lorem-ipsum-box {
    display: flex;
    flex-direction: row;
}

#lorem-ipsum-text {
    width: 50%;
    font-size: 20px;
}

#icon-lorem-ipsum-box {
    text-align: right;
    padding-right: 10%;
    width: 50%;
    padding-top: 0px;
}

#icon-lorem-ipsum {
    padding-top: 17%;
}

.lorem-ipsum-image {
    max-width: 100%;
    max-height: 100%;
}

.platforms-section {
    background-image: url(images/background/bkg_platforms.png);
    background-size: cover;
}

.platforms-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.platforms-text-box {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    width: 70%;
    height: auto;
}

#platforms-span {
    text-align: center;
    width: 75%;
    height: auto;
}

.platforms-icons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.platforms-icons-button {
    padding-top: 3ic;
    padding-bottom: 1ic;
    width: 25%;
}

.platforms-icon-arrow {
    max-width: 1ic;
    max-height: 1ic;
}

.recent-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 20px;
}

#projects-span{
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.projects-images-box {
    justify-content: space-between;
    width: 100%;
    text-align: center;
    gap: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
}

.projects-images-elements {
    padding-top: 40px;
}

#projects-button-box {
    padding-top: 50px;
}

.final-main-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.final-main-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.subscribe-box {
    background-color: #1C140F;
    border-radius: 10px;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;

}

h4 {
    font-weight: 400;
    font-size: 30px;
}

.subscribe-content {
    width: 47%;
}

.email-content {
    display: flex;
    width: 53%;
    justify-content: right;
    align-items: center;
}

#email-insert-form {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 60%;
    height: 35%;
    border-radius: 5px;
    align-items: center;
    padding-right: 5px;
}

#email-input {
    width: 70%;
    height: 90%;
    border: 0;
    outline: 0;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 16px;
}

#email-button {
    background-color: #FA9021;
    border-radius: 5px;
    color: white;
    width: 110px;
    height: 35px;
    border: transparent;
}

footer {
    height: 10%;
    background-color: black;
    font-size: small;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-about-us {
    display: flex;
    flex-direction: column;
}

.footer-contact-us {
    display: flex;
    flex-direction: column;
}

.copyrigth {
    text-align: inherit;
}