body {
    background: linear-gradient(#2211E7, #383837);
}

main {
    position: relative;
}

.dot-white {
    position: absolute;
    right: 70px;
    top: 40px;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin: 50px;
}

.initial-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3%;
}

.initial-box {
    display: inherit;
    flex-direction: column;
    gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.initial-box  span{
    font-size: 16px;
}

#initial-text-color {
    color: #E47500;
}

.initial-box  p{
    font-size: 16px;
    font-weight: 500;
}

.initial-bkg {
    padding-top: 50px;
    width: 100%;
}

.initial-information {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.initial-information div {
    display: inherit;
}

#info-1 {
    flex-direction: column;
    text-align: left;
    border-right: 2px #ffffff solid;
    padding-right: 7%;
    width: 40%;
}

.info-1-icons {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: left;
}

.info-1-icons a {
    height: 100%;
    width: 100%;
}

.info-1-icons a img {
    width: 100%;
    height: 100%;
}

#info-2 {
    display: inherit;
    justify-content: center;
    gap: 30px;
    height: 100%;
    width: 50%;
}

.info-2-icons {
    height: 35px;
    width: 35px;
}

#info-3 {
    display: inherit;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 110px;
    width: 60%;
    border-left: 2px #ffffff solid;
    padding-left: 70px;
}

.info-3-icons {
    display: inherit;
    padding-top: 15%;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 70px;
}

.info-3-icons img{
    height: 30px;
    width: 30px;
}

.middle-main-section {
    background-image: url(/images/background/bkg_contactUs.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
}

.middle-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}

.middle-content p {
    font-size: 13px;
    font-weight: 500;
}

.middle-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    height: auto;
    z-index: 1;
    padding-top: 5%;
    gap: 15px;
}

.label {
    font-size: 14px;
    max-width: 100%;
    color: #4F4F4F;
}

.input {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px #6e6d6d solid;
    color: #ffffff;
    padding: 10px 0px;
    padding-left: 1px;
}

.label-error-contact {
    display: none;
    font-size: 14px;
    max-width: 100%;
    color: #ff0000;
}

#input-message {
    height: 150px;
}

.full-name {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.full-name div {
    display: inherit;
    flex-direction: column;
    width: 48%;
}

.button-box {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: right;
    width: 100%;
}

.button-box button{
    background-color: #DC7000;
    color: #ffffff;
    font-size: 16;
    padding: 20px 30px;
    border-radius: 10px;
}

.background-vet-1 div{
    position: absolute;
    right: 0;
    top: 0;
}

.background-vet-2 div{
    position: absolute;
    left: 0;
    bottom: 0;
}