body{
    background: linear-gradient(#39289F, #422F9C);
}

.joy-stick-image {
    position: absolute;
    display: flex;
    justify-content: right;
    width: 100%;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    gap: 100px;
    font-size: 20px;
}

.section {
    padding: 5%;
}

.introduction-section {
    display: flex;
    flex-direction: row;
}

.introduction-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#first-text {
    color: #E87D0E;
    font-size: 25px;
    font-weight: 800;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #000;
}

#second-text {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.5;
}

.main-button {
    background: linear-gradient(#FA8305, #FB9E3C);
    border-radius: 30px;
    color: white;
    width: 170px;
    height: 50px;
    border: transparent;
    font-size: 16px;
    margin-top: 30px;
}

.introduction-image-section {
    width: 50%;
}

.introduction-image-box {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.image-box-1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.image-box-2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.image-box-3{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.middle-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

.currently-trending-games {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    height: 500px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
}

.trending-games-top {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.button-transparent {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 800;
    border-radius: 10px;
    width: 110px;
    height: 50px;
    color: #FFFFFF;
    border: transparent;
    font-size: 16px;
}

.list-games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}

.list-games span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.games-list-image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.description-text-section {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.description-text-box {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    width: 60%;
    height: auto;
}

.lorem-ipsum {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lorem-ipsum-box {
    display: flex;
    flex-direction: row;
    position: relative;
}

#lorem-ipsum-text {
    width: 50%;
    font-size: 20px;
    margin-bottom: 50px;
}

#icon-lorem-ipsum-box {
    position: absolute;
    right: 0;
    z-index: -1;
    text-align: right;
    padding-right: 20%;
    width: 40%;
}

#icon-lorem-ipsum {
    padding-top: 20%;
}

.lorem-ipsum-image {
    max-width: 100%;
    max-height: 100%;
}

.platforms-section {
    background-image: url(/images/background/bkg_platforms.png);
    background-size: cover;
}

.platforms-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.platforms-text-box {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    width: 70%;
    height: auto;
}

#platforms-span {
    text-align: center;
    width: 75%;
    height: auto;
}

.platforms-icons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.platforms-icons-button {
    padding-top: 3ic;
    padding-bottom: 1ic;
    width: 25%;
    color: #FFFFFF;
    text-decoration: none;
}

.platforms-icon-arrow {
    max-width: 1ic;
    max-height: 1ic;
}

.recent-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 20px;
}

#projects-span{
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.projects-images-box {
    justify-content: space-between;
    width: 100%;
    text-align: center;
    gap: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
}

.projects-images-box div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projects-images-elements {
    padding-top: 40px;
}

#projects-button-box {
    padding-top: 50px;
}

.final-main-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 110px;
    padding-top: 10px;
}

.final-main-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.subscribe-box {
    background-color: #1C140F;
    border-radius: 10px;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;

}

h4 {
    font-weight: 400;
    font-size: 30px;
}

.subscribe-content {
    width: 47%;
}

.email-content {
    display: flex;
    width: 53%;
    justify-content: right;
    align-items: center;
}

#email-insert-form {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 60%;
    height: 35%;
    border-radius: 5px;
    align-items: center;
    padding-right: 5px;
}

#email-input {
    width: 70%;
    height: 90%;
    border: 0;
    outline: 0;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 16px;
}

#email-button {
    background-color: #FA9021;
    border-radius: 5px;
    color: white;
    width: 110px;
    height: 35px;
    border: transparent;
}